<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %> 
        </title>
    </head>
    <body>
        <!-- Second Time Change
            <header>
            Posts Page Header
        </header> -->
        <!-- Third Time Change -->
        <%- include('_header.ejs') %> 
        <h1> Codeial Ussseeerrrr Profile Page / <%= title %> </h1>
        <h2> Postttt 1 / <%= postttname1 %>  </h2>
        <h2> Postttt 2 / <%= postttname2 %>  </h2>
        <!-- Second Time Change
            <footer>
            Posts Page Footer
        </footer> -->
        <!-- Third Time Change -->
        <%- include('_footer.ejs') %> 
    </body>
</html>